#projects {
    margin-top: 30px;
}

.card {
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 10px;
}

.card-title .card-text {
    margin-bottom: 15px;
}

.card-text {
    padding: 15px;
}

#about {
    margin-top: 30px;
    margin-bottom: 50px;
}

#contact {
    margin-top: 30px;
    margin-bottom: 50px;
}

#quLogo {
    height: 400px;
    width: 400px;
    background-image: url("../images/PRIDE_QU_LOGO.png");
    background-repeat: no-repeat;
    background-size: cover;
}