/* Carousel Images */
.carousel {
    margin: auto;
    max-width: 50%;
}

/* Projects Section */
#projects {
    margin-top: 30px;
}

.card {
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 10px;
}

.card-title .card-text {
    margin-bottom: 15px;
}

.card-text {
    padding: 15px;
    align-items: center;
    flex-direction: row;
}

/* About and Contact Sections */
#about {
    margin-top: 30px;
    margin-bottom: 50px;
}

#contact {
    margin-top: 30px;
    margin-bottom: 50px;
}

.parent {
    display: flex;
    align-content: center;
}

.section2 {
    float: left;
    max-width: 40%;
    margin: auto;
}

#id {
    padding: 10px 15px;
}